$baseFont: 'Didact Gothic', sans-serif;
$secondaryFont: 'Arimo', sans-serif;

$primaryColor: #bab6d7;
$secondaryColor: #9f9aa4;


h1 {
    font-family: $baseFont;
    font-size: 65px;
    color: white;
    text-align: center;
    text-shadow: 4px 4px 2px rgba(0, 0, 0, 0.7);       
}

h3 {
    color: $primaryColor;
    font-size: 30px;
    font-family: $baseFont;
    text-transform: uppercase;
    margin-top: 0;
    @media(max-width: 500px) {
        font-size: 25px;
    }
}



